body 
{
}
#page
{
	width:1024px;
	height:auto;
	margin:2px auto;
}
#main-top
{
	width:auto;
	height:71px;
	background-image:url("../Image/top.gif");
	margin:0px;
	background-repeat:repeat-x;
	border-bottom-width:0px;
	background-position:top;
	padding:0px;
}
#top-p
{
	height:auto;
	width:auto;
	margin:10px 0px 0px 25px;
	padding:1px;
	float:left;
	border-bottom-width:0px;
	font-family:@Adobe 宋体 Std L;
	font-size:x-large;
	color:#3279d3;
}
#location
{
	height:27px;
	width:auto;
	background-image:url("../Image/location.gif");
	background-repeat:repeat-x;
	margin:2px 0px 0px 0px;
}
#location p
{
	display:inline;
}
#location p a 
{
	text-decoration:underline;
	color:Black;
	font-size:small;
}
#location p a:hover
{
	color:Blue;
}
#user-state
{
	text-align:right;
	display:block;
	padding:0px;
	font-size:small;
	margin:0px;
}
#user-state p{margin:0px;}
#user-state a
{
	cursor:pointer;
	text-decoration:underline;
	color:blue;
}

#top-content,#buttom-line
{
	display:block;
	clear:both;
	width:auto;
	margin:0px;
	height:4px;
	background-image:url("../Image/top-and-content.gif");
	background-repeat:repeat-x;
}
#top-right
{
	background-image:url("../Image/top-right.gif");
	width:200px;
	float:right;
	height:70px;
	z-index:90;
}

#leftContent
{
	height:600px;
	width:230px;
	display:block;
	float:left;
	margin:2px 1px 2px 0px;
	border:solid 2px black;
}
#rightContent
{
	height:600px;
	width:783px;
	float:left;
	display:block;
	float:left;
	margin:2px 0px 2px 1px;
	margin:2px;
	border:solid 1px black;
}

#mainMenu
{
	width:auto;
	height:30px;
	display:block;
	float:right;
	margin-top:41px;
	padding:0px;
	overflow:visible;
	font-size:0.7em;
}
#mainMenu ul,#mainMenu li
{
	list-style-type:none;
	text-align:center;
	height:29px;
	display:inline;
	margin:0px;
	padding:0px;
}
#mainMenu li a
{
	display:inline;
	width:86px;
	height:29px;
	padding-top:5px;
	color:Black;
	font-size:medium;
	font-style:normal;
	text-decoration:none;
	margin:0px;
	cursor:pointer;
	float:left;
	text-align:center;
	background-repeat:no-repeat;
	z-index:100;
}
#mainMenu li a:hover,#mainMenu li a:active
{
	color:White;
	background-image:url("../Image/master_hover.gif");
}
#ff{}