<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ORM.Properties.Settings.hrmanagerConnectionString"
            connectionString="Data Source=WWW-C3A81FD0DD4;Initial Catalog=hrmanager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="ORM.Properties.Settings.HRDBConnectionString" connectionString="Data Source=WHIOGLFOCE9ME2U;Initial Catalog=HRDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>